:root {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --green-50: rgb(197, 247, 28);
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.myNav .left-side a,
.myNav .left-side .active {
  color: white; 
  cursor: pointer;
}
.myNav .left-side a:hover ,
.myNav .left-side .active:hover,
.myNav  .right-side a svg:hover  {
  color: var(--green-50);
}

.navbar-brand span {
  color: var(--green-50);
}
.myNav  .right-side a svg,
.myNav .navbar-toggler .navbar-toggler-icon{
    color:white
}
.myNav  .right-side .sign-in {
  background-color: var(--green-50); 
  transition:background-color 0.5s ease;
}
.myNav  .right-side .sign-in  a{
 
  color: black;
 
}
.myNav  .right-side .sign-in:hover {
  background-color:  color-mix(in oklab,  var(--green-50) 80%,  transparent);
}


/* #region =================Hero Section================*/
.hero{
  padding-top: 300px;
  height: 100vh;
  background-image: url("../images/png/hero-bg-H6PoyNYD.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



/* #endregion============================================*/