/*============ Wild Card Style  + Global styles====================*/
* {
    font-family: "Exo", sans-serif;
    color: black;
    box-sizing: border-box;
    color: #333;
}

body {
    margin: 0;
    color: #333;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1.4px;
}

span,
a {
    display: inline-block;
}

a {
    text-decoration: none;
}

ul {
    padding-inline: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

.clear {
    clear: both;
}

.container {
    width: 90%;
    margin: auto;
}

.bg-purple-dark {
    background-color: rgb(142, 81, 255);
}

.bg-purple-light {
    background-color: rgb(166, 132, 255);
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-red-light {
    background-color: rgb(255, 226, 226);
}

.rounded-20 {
    border-radius: 20px;
}

.pd-5 {
    padding: 5px;
}

.pd-7 {
    padding: 7px;
}

.pd-20 {
    padding: 20px;
}

.mg-bottom-10 {
    margin-bottom: 10px;
}

.mg-right-5 {
    margin-right: 5px;
}

.mg-right-10 {
    margin-right: 10px;
}

.fn-18 {
    font-size: 18px;
}

.fn-20 {
    font-size: 20px;
}

.fn-30 {
    font-size: 30px;
}

.col-white {
    color: white;
}

.col-purple-dark {
    color: rgb(142, 81, 255);
}

.col-black {
    color: rgb(0, 0, 0);
}

.col-red {
    color: rgb(251, 54, 54);
}


.bd-grey-light {
    border: 1px solid rgba(153, 161, 175, 0.5);
}

.fn-bold {
    font-weight: bold;
}


/*===========================================================*/

/*======================NAV  section styles====================*/
nav {
    background-color: rgb(245, 243, 255);
    position: relative;
    padding: 10px 2px;
    border-bottom: 1px solid rgb(221, 214, 255);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

}

nav .nav-header {
    float: left;
    padding: 0;
    position: absolute;
    width: 30%;
    top: 50%;
    transform: translateY(-50%);

}

nav .nav-header .nav-icon {
    background-color: rgb(142, 81, 255);
    width: 8%;
    float: left;
    padding: 6px;
    border-radius: 10px;


}

nav .nav-header .nav-icon img {
    display: block;

}


nav .nav-header .nav-name {
    float: left;
    margin: 7px 5px 0;


}

nav .nav-header .nav-name h1 {
    padding: 0;
    margin: 0;
}

nav .nav-links {
    float: right;
    padding-inline: 10px;
    width: fit-content;


}



nav .nav-links ul li {
    float: left;
    margin-left: 30px;
    position: relative;

}


nav .nav-links ul li::before {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.5s ease, background-color 0.5s ease;
}

nav .nav-links ul li a {
    transition: color 0.5 ease;

}

nav .nav-links ul li:hover::before {
    background-color: rgb(142, 81, 255);
    width: 100%;
}

nav .nav-links ul li a:hover {
    color: rgb(142, 81, 255);

}




/*========================================================*/

/*==========================HERO section===================*/

#hero {
    padding: 100px 0px;

}

#hero .hero-img,
#hero .hero-info {
    float: left;
    width: 50%;
}

#hero .hero-img {
    padding: 20px;
    position: relative;


}

#hero .hero-img .discount {
    position: absolute;
    left: 30px;
    top: 30px;
}


#hero .hero-info {
    padding: 20px 30px 0 60px;
    position: relative;


}

#hero .hero-info .cta button {
    padding: 10px;
    transition: transform 0.2s ease;
}

#hero .hero-info .cta button:hover {
    transform: scale(1.1);

}

#hero .hero-info .cta .cta_basket,
#hero .hero-info .cta .cta_wishlist {
    display: inline-block;
    width: 5%;


}


/*========================================================*/