/* the props */
@import "https://unpkg.com/open-props";


/* see PropPacks for the full list */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span,
a {
    display: inline-block;
}


/* #region ^=====================HEADER=================================*/
#header {}

.nav-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--green-9);
}
.dropend{
    position: relative;
    background-color: yellow;

}
.dropdown-submenu{
    position: absolute;
     left: calc(100% + 10px);
    top: 60%;
    background-color: aqua;
 
   display: none;
    transition:  all 0.2s ease;
    
}
.dropdown-menu li:is(.dropend):hover .dropdown-submenu  {
  display: block;

}
/* #endregion==============================================================*/