/* layers*/
@import url("./bootstrap.min.css") layer(botstrap);
@layer two, one;

@layer botstrap {}

@layer one {
    .test {
        background-color: tomato;
    }
}


@layer two {
    h3 {
        background-color: green;
    }
}

h3 {
    background-color: lime;
    position: static;
}